.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: gray;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}

.img-tile{
  margin-bottom: 0px;
}

#viewscreen{
  position: relative;
  height: 700px;
  width: 375px;
  background-image: radial-gradient(farthest-corner at 40px 40px,
  rgb(45, 35, 68) 0%, rgb(1, 0, 10) 100%);
  color: white;
}

#statusbar{
  position: absolute;
  top: 0;
}

#mixtapes {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 20%;
  background-color: gray;
}

#newmixtapes {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 20%;
  background-color: green;
}

#recentlyplayed {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 20%;
  background-color: pink;
}

#footer {
  margin-top: 90px;
  height: 5%;
  width: 375px;
  background-color: gray;
  position: absolute;
  bottom: 0;
}

#notebox {
  position: absolute;
  margin-top: 80px;
  margin-left: 35px;
  width: 80%;
  height: 30%;
  background-color: green;
}

#createtag-info {
  position: absolute;
  margin-top: 400px;
  margin-left: 35px;
  width: 80%;
  height: 20%;
  background-color: red;
  text-align: center;
}

#createtag-imgs {
  position: absolute;
  display: inline-flex;
  margin-top: 600px;
  margin-left: 35px;
  gap: 50px;
}

#selector-container {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
}
