.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: gray;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}

#Logo {
  background-color: black;
  color: white;
  justify-content: space-around;
  align-content: center;
}

#selector-box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-content: center;
  margin-top: 100px;
  margin-left: 100px;
}

.footernav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  margin-top: 100px;
}

.listbox-container{
  display: inline-block;
}

.viewscreen{
  height: 900px;
  width: 375px;
  background-color: black;
}